.example-card {
  max-width: 400px;
  margin: 0 auto;
}

.example-header-image {  
  background-size: cover;
}

h2{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 35px;
}

#comments {
  padding-top: 40px;
}

#ratingDurationGenre{
  display: flex;
  flex-direction: column;
}

#commentsAndPlayer{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

#commentsAndPlayer > div {
  padding-right: 50px;
  padding-left: 40px;
}

#cardHomeButton {
  display: flex;
  flex-direction: row;
}

#cardHomeButton > div {
  padding-left: 500px;
}
